<!--{% extends "home_base.html" %}-->
<!--{% load i18n %}-->
<!--{% load staticfiles %}-->

<!--{% block content %}-->
<!--<div class="row">-->
<!--{% if clothes_list %}-->
    <!--{% for clothes in clothes_list %}-->
        <!--<div class="col-sm-4">-->
            <!--<a href="{{ clothes.get_absolute_url }}">{{ clothes.name }}</a>-->
            <!--{{clothes.get_clothes_description}}-->
        <!--</div>-->
    <!--{% endfor %}-->
<!--{% else %}-->
        <!--<p> No clothes in the stock</p>-->
<!--{% endif %}-->
<!--</div>-->
<!--{% include "pagination.html" with page=page_obj %}-->
<!--{% endblock %}-->

<!--///////////////////////////////////////////////////////////////////////-->
