{% extends "home_base.html" %}
{% load static %}

{% block title %}
  {{ cloth.name }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if cloth.image %}{{ cloth.image.url }}{% else %}
    {% static 'images/no_image.png' %}{% endif %}">
    <h1>{{ cloth.name }}</h1>
    <h2><a href="{{ product.category.get_absolute_url }}">
        {{ cloth.category }}</a></h2>
    <p class="price">${{ cloth.price }}</p>
    {{ cloth.description|linebreaks }}
  </div>
{% endblock %}
